<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.component.css">
</head>

<body>
    <section class="image" id="about">
        <div class="image-content">
            <div class="image">
                <img src="assets/images/my-image.jpeg" alt="Overlay Image" class="overlay-image" />
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>About <span class="highlight">Me</span></h1>
                <p> I'm a Front-End and Web Developer with a passion for crafting user-friendly, <br> 
                    responsive websites and applications. With over 4 years of experience, <br>
                    I specialize in building dynamic interfaces using HTML, CSS, JavaScript, Angular, and WordPress. <br>
                    My focus is on delivering seamless digital experiences that are both visually appealing and highly functional. <br>
                    Beyond coding, I enjoy transforming ideas into practical solutions through <br>
                    creative design and thoughtful development. Whether it's building from scratch or improving existing systems,<br>
                    I take pride in writing clean, efficient code. I'm always eager to learn and stay updated with <br>
                    the latest web technologies.
                </p>
            </div>
            <div class="buttons">
                <button class="hire-btn">
                    Hire
                </button>
            </div>
        </div>
    </section>
</body>
</html>