<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="services.component.css">
</head>

<body>
    <section class="header" id="services">
        <div class="header-text">
            <h1>Services</h1>
        </div>
    </section>
    <section class="services-container">
        <div class="frontend">
            <i class="fa-solid fa-rocket"></i>
            <h1>Front-End <br> Development</h1>
            <p>I create fast, responsive, and visually appealing <br>
                websites using modern front-end technologies like <br>
                HTML, CSS, JavaScript, and Angular. <br>
                I focus on building seamless user interfaces <br>
                that deliver a smooth experience across all devices.
            </p>
        </div>
        <div class="web">
            <i class="fa-solid fa-laptop-code"></i>
            <h1>Web <br> Development</h1>
            <p>From building custom websites to integrating <br>
                dynamic functionality, I develop web solutions <br>
                that meet your business needs. <br>
                My expertise includes WordPress development, <br>
                API integrations, and creating websites <br>
                that are both functional and easy to manage.
            </p>
        </div>
        <div class="design">
            <i class="fa-brands fa-figma"></i>
            <h1>UI/UX <br> Design</h1>
            <p>I design intuitive and user-focused interfaces <br>
                that enhance usability and engagement. <br>
                Using tools like Figma, <br>
                I transform ideas into visually striking designs <br>
                that improve the overall user experience <br>
                and align with your brand identity.
            </p>
        </div>
    </section>
</body>
</html>